[build]
  command = "npm install"
  publish = "public"
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/v/*"
  to = "/.netlify/functions/api/v/:splat"
  status = 200

[functions]
  node_bundler = "esbuild"
